.team {
    padding-bottom: 5vh;
}

.person {
    padding-top: 5vh;
    padding-left: 5vw;
}

.about {
    display: flex;
    padding-top: 3vh;
    padding-left: 2vw;
    padding-right: 10vw;
}

.bio {
    padding-right: 2vw;
}

.mugshot {
    padding-right: 2vw;
    padding-bottom: 1vw;
    max-width: 40vw;
    min-width: 10vw;
    height: auto;
    object-fit: contain;
}

.links {
    ul {
        list-style: none;
        padding-top: 1rem;
        display: flex;
    }
    li {
        padding: 1rem;
        font-size: 3rem;
    }
}

@media screen and (max-width: 1200px) {
    .about {
        display: block;
    }
    .mugshot {
        width: 80vw;
        object-fit: cover;
    }
}