/* $bgcolor: rgb(42,42,44); */

/* 
 * Blue-grey pallete
 * https://www.color-hex.com/color-palette/1407
 */

/*  
 $color1: rgb(110,127,128);
 $color2: rgb(83,104,114);
 $color3: rgb(112,128,144);
 $color4: rgb(83,104,120);
 $color5: rgb(54,69,79);

 */
 /* 
 * Fox Logo pallete
 * https://www.color-hex.com/color-palette/80780
 */

 $bgcolor: #1f2233;
 $color1: #24273a;
 $color2: #2f314a;
 $color3: #313550;
 $color4: #51566a;
 $outcolor: #f6c783;
 
 $bgcolor: #242734;
 $color1: #31343f;
 $color2: #41444d;
 $color3: #0084ff;
 $color4: #3b9efa;

 $color5: #353845;
 
 
 
 
 
 
 
 
 
 /*  $color4: rgb(246,167,5);
 $color5: rgb(175,148,133);
 $color6: rgb(0,120,215);
 $color7: rgb(37,51,98);
 $color8: rgb(38,50,76);
 $color9: rgb(54,69,79); */




 /* 
 * NightFox pallete
 * https://www.color-hex.com/color-palette/66523
 */

/*  
 $color1: rgb(207,207,209);
 $color2: rgb(125,125,128);
 $color3: rgb(42,42,44);
 $color4: rgb(0,120,215);
 $color5: rgb(255,255,255);
 */

 /* 
 * Fox and Sons pallete
 * https://www.color-hex.com/color-palette/51834
 */

/*  
 $color1: rgb(169,222,244);
 $color2: rgb(0,179,227);
 $color3: rgb(15,97,160);
 $color4: rgb(37,51,98);
 $color5: rgb(38,50,76);
 */

