/*Color palette generator https://coolors.co*/

$rich-black-fogra-39: rgb(9, 8, 9);
$russian-green: rgb(122, 155, 118);
$rhythm: rgb(121, 117, 150);
$uranian-blue: rgb(184, 225, 255);
$pumpkin: rgb(254, 127, 45);

$bgcolor: $rich-black-fogra-39;
$bgcolorlight: $rhythm;
$maincolor: $pumpkin;

$color1: rgb(247,236,172);
$color2: rgb(108,93,36);
$color3: rgb(159,143,32);
$color4: rgb(225,92,35);
$color5: rgb(152,56,34);
$color6: rgb(216,194,56);
$color7: rgb(47,57,46);

$color1: rgb(250,168,24);
$color2: rgb(65,163,13);
$color3: rgb(65,163,13);
$color4: rgb(54,125,125);
$color5: rgb(211,53,2);
$color6: rgb(110,188,188);
$color7: rgb(55,82,109);

$color1: rgb(21,37,45);
$color2: rgb(118,135,102);
$color3: rgb(229,219,130);
$color4: rgb(187,153,68);
$color5: rgb(187,102,34);
$color6: rgb(177,32,15);
$color7: rgb(52,46,58);

$color1: rgb(234,87,61);
$color2: rgb(251,192,99);
$color3: rgb(100,176,188);
$color4: rgb(68,102,153);
$color5: rgb(85,85,119);

$color1: rgb(81,87,74);
$color2: rgb(68,124,105);
$color3: rgb(233,215,142);
$color4: rgb(241,150,112);
$color5: rgb(225,101,82);
$color6: rgb(124,159,176);
$color7: rgb(86,152,196);
$color8: rgb(154,191,136);