/* $bgcolor: rgb(42,42,44); */
/* 
 * Blue-grey pallete
 * https://www.color-hex.com/color-palette/1407
 */
/*  
 $color1: rgb(110,127,128);
 $color2: rgb(83,104,114);
 $color3: rgb(112,128,144);
 $color4: rgb(83,104,120);
 $color5: rgb(54,69,79);

 */
/* 
* Fox Logo pallete
* https://www.color-hex.com/color-palette/80780
*/
/*  $color4: rgb(246,167,5);
$color5: rgb(175,148,133);
$color6: rgb(0,120,215);
$color7: rgb(37,51,98);
$color8: rgb(38,50,76);
$color9: rgb(54,69,79); */
/* 
* NightFox pallete
* https://www.color-hex.com/color-palette/66523
*/
/*  
 $color1: rgb(207,207,209);
 $color2: rgb(125,125,128);
 $color3: rgb(42,42,44);
 $color4: rgb(0,120,215);
 $color5: rgb(255,255,255);
 */
/* 
* Fox and Sons pallete
* https://www.color-hex.com/color-palette/51834
*/
/*  
 $color1: rgb(169,222,244);
 $color2: rgb(0,179,227);
 $color3: rgb(15,97,160);
 $color4: rgb(37,51,98);
 $color5: rgb(38,50,76);
 */
.team {
  padding: 5vh 0;
  background-color: #31343f;
}

.person {
  padding-top: 5vh;
  display: flex;
  width: 80%;
  margin: auto;
}

.image-border {
  padding: 5px;
  margin-right: 2vw;
  margin-bottom: 1vh;
  border-style: solid;
  border-width: 1px;
  border-color: #41444d;
  border-radius: 12px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.mugshot {
  max-width: 15vw;
  min-width: 10vw;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 10px;
}

.bio {
  margin-right: 2vw;
}

.links {
  padding-top: 2vh;
}
.links ul {
  list-style: none;
  display: flex;
}
.links ul li {
  padding: 8px;
}
.links ul li a {
  display: block;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  position: relative;
  font-size: 30px;
}
.links ul li a:hover {
  background-color: white;
  border-radius: 50%;
}
.links ul li a:hover .fa-youtube-play {
  color: #c4302b;
}
.links ul li a:hover .fa-twitter {
  color: #1da1f2;
}
.links ul li a:hover .fa-github {
  color: black;
}
.links ul li a:hover .fa-steam-square {
  background: linear-gradient(180deg, #000000, #00adee);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.links ul li a:hover .fa-instagram {
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.links ul li a:hover .fa-facebook-square {
  color: #4267b2;
}

.fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: ease 0.4s;
}

@media screen and (max-width: 925px) {
  .person {
    display: block;
  }

  .mugshot {
    max-width: 100%;
  }
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  font-family: "Montserrat", sans-serif;
  background: #242734;
}

h1 {
  font-size: 9rem;
}

h2 {
  font-size: 6rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 3rem;
  font-weight: lighter;
}

h5 {
  font-size: 2.5rem;
}

p {
  font-size: 1.9rem;
  margin-top: 2vh;
  background: transparent;
}

a {
  font-size: inherit;
  color: white;
  text-decoration: underline;
  transition: ease 0.4s;
}

footer {
  margin-top: 4vh;
}

.link:hover {
  color: #0084ff;
}

.header {
  text-align: center;
  padding-bottom: 3vh;
}

.software {
  background-color: #31343f;
  padding: 5vh 0;
}

.services {
  padding-top: 5vh;
  padding-bottom: 5vh;
  text-align: center;
}

.service-list {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: center;
}

.service {
  width: 30%;
  margin: 1vh 0.5vw;
  position: relative;
  z-index: 1;
}
.service:hover .background-box {
  transform: rotate(5deg);
}
.service:hover .service-image {
  background-color: #3b9efa;
  color: white;
}
.service .background-box {
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 11px;
  background-color: #41444d;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: ease-in-out 0.4s;
}

.service-image {
  width: 100px;
  height: 100px;
  background-color: #31343f;
  color: #3b9efa;
  margin: auto;
  margin-bottom: 2vh;
  border-radius: 50%;
  transition: ease-in-out 0.4s;
}

.service-text {
  min-height: 30vh;
  height: 100%;
  padding: 3vh 2vw;
  background-color: #242734;
  border-color: #41444d;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  transition: ease-in-out 0.4s;
}
.service-text:hover {
  border-color: white;
  background-color: #0084ff;
  transform: scale(1.02);
}

.copyright {
  position: relative;
  text-align: center;
  padding: 2vh;
  text-align: center;
  font-size: 1.5rem;
}
.copyright::before {
  content: "";
  top: 0;
  background-color: white;
  height: 1px;
  width: 90vw;
  position: absolute;
  left: 5vw;
}