.person {
  padding-top: 5vh;
  padding-left: 5vw;
}

.team {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: none;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 3vh;
  padding-left: 2vw;
  padding-right: 10vw;
}

.bio {
  padding-right: 2vw;
}

.mugshot {
  padding-right: 2vw;
  padding-bottom: 1vw;
  width: 40vw;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.download {
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn {
  background-color: #303030;
  border-style: solid;
  border-radius: 20px;
  border-color: #f77d1a;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 2rem;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
  margin-top: 2vh;
}

.btn:hover {
  background-color: #f77d1a;
}

.links ul {
  list-style: none;
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.links li {
  padding: 1rem;
  font-size: 3rem;
}

@media screen and (max-width: 1200px) {
  .about {
    display: block;
  }
  .mugshot {
    width: 80vw;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.bgimg {
  background: url("https://captain-jo.com/img/warehouse.jpg");
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
}

.tape {
  position: absolute;
  background-image: url("https://captain-jo.com/img/construction.png");
  top: 0;
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.middle {
  position: absolute;
  text-shadow: 8px 8px 6px #000;
  top: 50vh;
  left: 50vw;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: white;
  font-family: "Montserrat", sans-serif;
  background: #303030;
}

main {
  overflow-x: hidden;
}

h1 {
  font-size: 9rem;
}

h3 {
  font-size: 3rem;
  font-weight: lighter;
}

a {
  font-size: 2rem;
  color: white;
  -webkit-transition: ease 0.4s;
  transition: ease 0.4s;
  text-decoration: none;
}

a:hover {
  color: #f77d1a;
}

p {
  font-size: 1.9rem;
  margin-top: 2vh;
}

nav {
  z-index: 1;
  width: 100vw;
  min-height: 10vh;
  padding: 3vh 25vw;
  position: fixed;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #303030), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(#303030 60%, rgba(0, 0, 0, 0) 100%);
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
  list-style: none;
  margin: auto;
}

nav .bottom-line {
  margin-top: 1vh;
  height: 2px;
  width: 2%;
  background-color: #f77d1a;
  display: none;
  position: absolute;
}

.content {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.burger {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 5vh;
  right: 5vw;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.burger-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@media screen and (max-width: 950px) {
  h1 {
    font-size: 7rem;
  }
  nav ul {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 6rem;
  }
  nav ul {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
  h1 {
    font-size: 4rem;
  }
  nav ul {
    background-color: #4e4e4e;
    position: absolute;
    right: 0px;
    height: 85vh;
    top: 15vh;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  nav .bottom-line {
    display: none;
  }
  .burger {
    display: block;
  }
}

@-webkit-keyframes linkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes linkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}
/*# sourceMappingURL=style.css.map */