.team {
  padding-bottom: 5vh;
}

.person {
  padding-top: 5vh;
  padding-left: 5vw;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 3vh;
  padding-left: 2vw;
  padding-right: 10vw;
}

.bio {
  padding-right: 2vw;
}

.mugshot {
  padding-right: 2vw;
  padding-bottom: 1vw;
  max-width: 40vw;
  min-width: 10vw;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.links ul {
  list-style: none;
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.links li {
  padding: 1rem;
  font-size: 3rem;
}

@media screen and (max-width: 1200px) {
  .about {
    display: block;
  }
  .mugshot {
    width: 80vw;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

/*Color palette generator https://coolors.co*/
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: white;
  font-family: "Montserrat", sans-serif;
  background: #090809;
}

main {
  overflow-x: hidden;
}

h1 {
  font-size: 9rem;
}

h2 {
  font-size: 6rem;
}

h3 {
  font-size: 3rem;
  font-weight: lighter;
}

a {
  font-size: 2rem;
  color: white;
  -webkit-transition: ease 0.4s;
  transition: ease 0.4s;
  text-decoration: none;
}

a:hover {
  color: #fe7f2d;
}

p {
  font-size: 1.9rem;
  margin-top: 2vh;
  background: transparent;
}

nav {
  z-index: 1;
  width: 100%;
  min-height: 10vh;
  padding: 3vh 25vw;
  position: fixed;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #090809), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(#090809 60%, rgba(0, 0, 0, 0) 100%);
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
  list-style: none;
  margin: auto;
}

nav .bottom-line {
  height: 2px;
  width: 2%;
  background-color: #fe7f2d;
  position: absolute;
}

.home-content {
  position: relative;
  padding-top: 100vh;
}

.home-content::after {
  content: '';
  height: 5vh;
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(#090809));
  background: linear-gradient(black 0%, #090809 100%);
}

label {
  font-size: 2rem;
  font-weight: bold;
  display: block;
}

.input {
  font-size: 2rem;
  line-height: 2.5rem;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  width: 70%;
  outline-color: #797596;
}

.field {
  padding-bottom: 2vh;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3vh;
  display: none;
}

.contact-tip {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 5vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.submit-btn {
  background-color: #797596;
  color: white;
  -webkit-transition: ease 0.4s;
  transition: ease 0.4s;
}

.submit-btn:hover {
  background-color: #fe7f2d;
}

.particles {
  position: absolute;
  height: 100%;
  width: 100%;
}

.particles::before {
  content: '';
  height: 5vh;
  position: absolute;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #090809), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(#090809 30%, rgba(0, 0, 0, 0) 100%);
}

.particles::after {
  content: '';
  display: block;
  height: 5vh;
  position: absolute;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, rgba(9, 8, 9, 0)), to(#090809));
  background: linear-gradient(rgba(9, 8, 9, 0) 30%, #090809 100%);
  bottom: 0;
}

.link {
  -webkit-transition: ease 0.4s;
  transition: ease 0.4s;
}

.link:hover {
  font-size: 3rem;
}

.content {
  position: relative;
  /*  min-height: 100vh; */
}

.stars {
  background: black url(/img/stars.png) repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: -1;
}

.twinkling {
  width: 10000px;
  height: 100%;
  background: transparent url(/img/twinkling.png) repeat;
  background-size: 1000px 1000px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  -webkit-animation: move-background 70s linear infinite;
          animation: move-background 70s linear infinite;
}

.burger {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 5vh;
  right: 5vw;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.burger-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.contact-container {
  background-color: #7a9b76;
  width: 95vw;
  margin: auto;
  margin-bottom: 5vh;
  padding: 10vh 5vw;
  border-radius: 20px;
  -webkit-transition: max-height 2s ease-in;
  transition: max-height 2s ease-in;
  max-height: 1500px;
}

.contact-ctrl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-btn {
  background-color: #797596;
  padding: 5vh 5vw;
  margin-left: 8vw;
  width: 30vw;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 20px;
  -webkit-transition: ease 0.4s;
  transition: ease 0.4s;
}

.contact-btn:hover {
  background-color: #fe7f2d;
  cursor: pointer;
}

.fa-chevron-right {
  -webkit-animation: 2s chevron-anim infinite;
          animation: 2s chevron-anim infinite;
}

.copyright {
  position: relative;
  text-align: center;
  padding: 3vh;
  text-align: center;
  font-size: 1.5rem;
}

.copyright::before {
  content: '';
  top: 0;
  background-color: #797596;
  height: 1px;
  width: 90vw;
  position: absolute;
  left: 5vw;
}

.cookie {
  display: none;
  position: fixed;
  bottom: 1vh;
  width: 100%;
}

.cookieCtnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #797596;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2vh 2vw;
  border-radius: 2vh;
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.cookieTxt {
  margin-bottom: 2vh;
  margin-right: 1vh;
}

.cookieBtn {
  padding: 1vh 5vw;
  background-color: #b8e1ff;
  border-radius: 1vh;
  border-style: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1.9rem;
  font-weight: bold;
  -webkit-transition: ease 0.4s;
  transition: ease 0.4s;
}

.cookieBtn:hover {
  background-color: #fe7f2d;
  color: white;
}

.animText {
  opacity: 0;
}

.slide-right {
  -webkit-animation: 2s slide-right;
          animation: 2s slide-right;
}

.slide-up {
  -webkit-animation: 2s slide-up;
          animation: 2s slide-up;
}

.slide-down {
  -webkit-animation: 2s slide-down;
          animation: 2s slide-down;
}

@media screen and (max-width: 950px) {
  h1 {
    font-size: 7rem;
  }
  nav ul {
    width: 100%;
  }
  .bottom-line {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 6rem;
  }
  nav ul {
    width: 100%;
  }
  .bottom-line {
    display: block;
  }
}

@media screen and (max-width: 750px) {
  .cookieCtnt {
    display: block;
    width: 80%;
  }
  .cookieTxt {
    text-align: center;
  }
  .cookieBtn {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
  h1 {
    font-size: 4rem;
  }
  nav ul {
    background-color: #797596;
    position: absolute;
    right: 0px;
    top: 15vh;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  nav li {
    padding-top: 10vh;
    padding-bottom: 10vh;
    opacity: 0;
  }
  nav .bottom-line {
    display: none;
  }
  .burger {
    display: block;
  }
}

@-webkit-keyframes linkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes linkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
            transform: translate3d(1000px, 0px, 0px);
  }
}

@keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
            transform: translate3d(1000px, 0px, 0px);
  }
}

@-webkit-keyframes slide-right {
  from {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-right {
  from {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-up {
  from {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-down {
  from {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-down {
  from {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes chevron-anim {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(1vw);
            transform: translateX(1vw);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes chevron-anim {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(1vw);
            transform: translateX(1vw);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
/*# sourceMappingURL=style.css.map */