@import "about";

/*Color palette generator https://coolors.co*/

$rich-black-fogra-39: rgb(9, 8, 9);
$russian-green: rgb(122, 155, 118);
$rhythm: rgb(121, 117, 150);
$uranian-blue: rgb(184, 225, 255);
$pumpkin: rgb(254, 127, 45);

$bgcolor: $rich-black-fogra-39;
$bgcolorlight: $rhythm;
$maincolor: $pumpkin;

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  font-family: "Montserrat", sans-serif;
  background: $bgcolor;
}

main {
  overflow-x: hidden;
}

h1 {
  font-size: 9rem;
}

h2 {
  font-size: 6rem;
}

h3 {
  font-size: 3rem;
  font-weight: lighter;
}

a {
  font-size: 2rem;
  color: white;
  transition: ease 0.4s;
  text-decoration: none;
  &:hover {
    color: $maincolor;
  }
}

p {
  font-size: 1.9rem;
  margin-top: 2vh;
  background: transparent;
}

nav {
  z-index: 1;
  width: 100%;
  min-height: 10vh;
  padding: 3vh 25vw;
  position: fixed;
  background: linear-gradient(rgba($bgcolor, 1) 60%, rgba(black, 0) 100%);

  ul {
    display: flex;
    justify-content: space-between;
    width: 60%;
    list-style: none;
    margin: auto;
  }

  .bottom-line {
    height: 2px;
    width: 2%;
    background-color: $maincolor;
    position: absolute;
  }
}

.home-content {
  position:relative;
  padding-top: 100vh;
  &::after {
    content: '';
    height: 5vh;
    display: block;
    background: linear-gradient(rgba(black, 1) 0%, rgba($bgcolor, 1) 100%);
  }
}

.particles {
  position: absolute;
  height: 100%;
  width: 100%;
  &::before {
    content: '';
    height: 5vh;
    position: absolute;
    width: 100%;
    background: linear-gradient(rgba($bgcolor, 1) 30%, rgba(black, 0) 100%);
  }
  &::after {
    content: '';
    display: block;
    height: 5vh;
    position: absolute;
    width: 100%;
    background: linear-gradient(rgba($bgcolor, 0) 30%, rgba($bgcolor, 1) 100%);
    bottom: 0;
  }
}

.link {
  transition: ease 0.4s;
  &:hover {
    font-size: 3rem;
  }
}

.content {
  position: relative;
  min-height: 100vh;
}

.stars {
  background: black
    url(/img/stars.png) repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: -1;
}

.twinkling {
  width: 10000px;
  height: 100%;
  background: transparent
    url(/img/twinkling.png)
    repeat;
  background-size: 1000px 1000px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  animation: move-background 70s linear infinite;
}

.burger {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 5vh;
  right: 5vw;
  div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
  }
}

.burger-active {
  transform: translateX(0%);
}

.copyright {
  position: relative;
  text-align: center;
  padding: 3vh;
  text-align: center;
  font-size: 1.5rem;
  &::before {
    content: '';
    top: 0;
    background-color: $bgcolorlight;
    height: 1px;
    width: 90vw;
    position: absolute;
    left: 5vw;
  }
}

.animText {
  opacity: 0;
}

.slide-right {
  animation: 2s slide-right;
}

.slide-up {
  animation: 2s slide-up;
}

.slide-down {
  animation: 2s slide-down;
}

@media screen and (max-width: 950px) {
  h1 {
    font-size: 7rem;
  }
  nav {
    ul {
      width: 100%;
    }
  }
  .bottom-line {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 6rem;
  }
  nav {
    ul {
      width: 100%;
    }
  }
  .bottom-line {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
  h1 {
    font-size: 4rem;
  }
  nav {
    ul {
      background-color: $bgcolorlight;
      position: absolute;
      right: 0px;
      top: 15vh;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
    }

    li {
      padding-top: 10vh;
      padding-bottom: 10vh;
      opacity: 0;
    }

    .bottom-line {
      display: none;
    }
  }
  .burger {
    display: block;
  }
}

@keyframes linkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle {
  .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .line2 {
    opacity: 0;
  }
  .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}

@keyframes move-background {
  from {
    transform: translate3d(0px, 0px, 0px);
  }
  to {
    transform: translate3d(1000px, 0px, 0px);
  }
}

@keyframes slide-right {
  from {
    transform: translateX(-20%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(20%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-down {
  from {
    transform: translateY(-20%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}